.status {
    font-size: 1.7rem;
    line-height: 2.2rem;
    color: var(--gray-5);
    margin-bottom: 1rem;
}

.form_wrapper .input_group {
   margin: 4rem 0 3rem 0;
}
.form_wrapper .input_field_label{
    display: block;
    margin-bottom: 1rem;
}
.caption {
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-transform: uppercase;
}

.form_wrapper .input_field {
    border: 1px solid var(--gray-4);
    display: block;
    font-size: 1.8rem;
    line-height: 3.2rem;
    padding: 1.5rem 2rem;
    width: 100%;
}
.form_wrapper button[type=submit] {
    transition: background-color .3s ease-in-out,color .3s ease-in-out;
    width: 100%;
}
.btn_border {
    border: 1px solid var(--black);
    padding: 1.6rem;
}
.form_wrapper .btn_text.btn_border:hover {
    background: #383838;
    color: var(--white);
}
a.forgot_pass, button.forgot_pass {
    color: var(--gray-6);
    display: block;
    margin-top: 3rem;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
a.forgot_pass:hover{
    color: var(--black);
    font-weight: 600;
}